RewriteEngine On

# Rewrite title URLs with IDs to the appropriate controller
RewriteRule ^title/(\d+)/?$ index.php?url=title&id=$1 [L,QSA]

# Rewrite admin/edit-title URLs with IDs to the appropriate controller
RewriteRule ^admin/edit-title/(\d+)/?$ index.php?url=admin/edit-title&id=$1 [L,QSA]

RewriteRule ^admin/([\w-]+)/?$ index.php?url=admin/$1 [L,QSA]

# Rewrite admin/edit-title URLs with IDs to the appropriate controller
RewriteRule ^users/([\w-]+)/?$ index.php?url=users&id=$1 [L,QSA]

RewriteRule ^([a-zA-Z0-9_-]+)/?$ index.php?url=$1 [L,QSA]
