RewriteEngine On

# Rewrite movie URLs with ID
RewriteRule ^movie/(\d+)/?$ index.php?url=movie&id=$1 [L,QSA]

# Rewrite admin/edit-movie URLs with ID
RewriteRule ^admin/edit-movie/(\d+)/?$ index.php?url=admin/edit-movie&id=$1 [L,QSA]

RewriteRule ^admin/([\w-]+)/?$ index.php?url=admin/$1 [L,QSA]

# Rewrite admin/edit-movie URLs with ID
RewriteRule ^users/([\w-]+)/?$ index.php?url=users&id=$1 [L,QSA]

# Rewrite for normal URLs
RewriteRule ^([a-zA-Z0-9_-]+)/?$ index.php?url=$1 [L,QSA]

# Rewrite calls to /cinema as /cinema/home
RewriteRule ^$ /cinema/home [L,R=301]

AddType application/x-font-otf otf

<IfModule mod_deflate.c>
  # Compress HTML, CSS, JavaScript, Text, XML and fonts
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE application/x-font
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/x-font-otf
  AddOutputFilterByType DEFLATE application/x-font-truetype
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE font/opentype
  AddOutputFilterByType DEFLATE font/otf
  AddOutputFilterByType DEFLATE font/ttf
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE image/x-icon
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/xml
  AddOutputFilterByType DEFLATE application/vnd.oasis.opendocument.formula-template

  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
  Header append Vary User-Agent
</IfModule>
