main {
  background-color: #000;
}
.page-info {
  width: 100%;
  padding-bottom: 2rem;
  text-align: center;
}

.page-title {
  font-size: 1.5rem;
}

.page-desc {
  margin-top: 8px;
}
.remove {
  padding: .4em 1em;
  border: none;
  background-color: var(--primary-red);
}
.remove:hover {
  cursor: pointer;
}