/* GLOBAL THEME */
@font-face {
  font-family: Shin-Go-Pro-R;
  src: url("/cinema/public/fonts/Shin-Go/Shin-Go-Pro-R.otf") format("opentype");
}
@font-face {
  font-family: Shin-Go-Pro-B;
  src: url("/cinema/public/fonts/Shin-Go/Shin-Go-Pro-B.otf") format("opentype");
}
:root {
  --primary-white: #FFFFFF;
  --primary-black: #000000;
  --primary-gray: #111111;
  --secondary-gray: #202020;
  --primary-red: #ED2939;
  --secondary-red: #911822;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: white;
  font-size: 1em;
  word-wrap: break-word;
  font-family: "Shin-Go-Pro-R", sans-serif;
}
/* ACCESSIBILITY */
a:focus-visible, button:focus-visible, input:focus-visible {
  outline: 2px solid #29EDDD;
  border-radius: 6px;
}
a:hover, button:hover {
  cursor: pointer;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
/* {{{ HEADER */
.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #ED2939;
}
.header .container {
  height: 64px;
  display: flex;
  justify-content: space-between;
}
.logo {
  order:1;
  height: 64px;
}
#nav-toggle {
  display: none;
}
.mobile-overlay {
  position: fixed;
  visibility: hidden;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.75);
  left: 0;
  top: 64px;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
  opacity: 0;
}
.icon-burger:hover {
  cursor: pointer;
}
.icon-burger {
  display: none;
}
.icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all .5s ease-in-out;
}
nav {
  order: 1;
  display: flex;
  align-items: center;
}
nav ul {
  height: inherit;
  display: flex;
  align-items: center;

}
nav li a {
  font-family: "Shin-Go-Pro-B", sans-serif;
}
nav li:not(:last-child) a {
  display: block;
  color: white;
  max-height: 64px;
  padding: 15px 24px;
  border-bottom: 4px solid transparent;
}
nav li:not(:last-child) a:hover {
  transition: 200ms;
  border-bottom: 4px solid #fff;
}
nav li:last-child a {
  color: #fff;
  display: block;
  border: #fff 2px solid;
  padding: 6px 24px;
  border-radius: 6px;
}
nav li:last-child a:hover {
  transition: 200ms;
  color: red;
  background-color: #fff;
}
.signed-in {
  max-height: 64px;
}
.avatar {
  border-radius: 50%;
  height: 64px;
}
#dropdown-toggle, #signed-in .username {
  display: none;
}
.dropdown-content {
  width: 280px;
  padding: 6px 0;
  display: none;
  top: 74px;
  transform: translate(-50%, 0) !important;
  position: absolute;
  background-color: var(--primary-gray);
  min-width: 160px;
  z-index: 1;
  border-radius: 6px;
  margin-left: -80px;
}
#dropdown-header {
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  align-items: center;
}
#mobile-back {
  display: none;
  height: 2em;
}
.dropdown .username {
  margin-left: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown-section {
  padding: 10px 0;
}
.dropdown-section:not(:last-child) {
  border-bottom: 2px solid #202020;
}
.dropdown-section .icon {
  color: #ffffff;
  height: 1em;
  vertical-align: -0.125em;
  margin-right: 10px;
}
.dropdown-section .icon path {
  fill: var(--primary-white);
}
.dropdown-section a:hover .icon path {
  fill: var(--primary-red);
}
.header nav .dropdown-content a {
  padding: 8px 12px;
  border: none; !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header nav .dropdown-content a:hover {
  border: none; !important;
  border-radius: 0;
}
.dropdown:hover .dropdown-content {display: block;}
@media screen and (max-width: 768px) {
  nav ul {
    position: fixed;
    z-index: 9;
    right: -100%;
    top: 64px;
    height: calc(100% - 64px);
    max-height: 100vh;
    width: 70vw;
    flex-direction: column;
    overflow: hidden;
    transition: all .5s ease-in-out;
    background-color: #111;
  }
  nav li {
    display: block;
    width: 100%;
  }
  nav a {
    font-size: 1.2em;
    padding: 1em;
    display: block;
  }
  nav li:not(:last-child) a:hover {
    border-bottom: none;
  }
  nav li:not(:last-child) a {
    border-bottom: none;
    border-left: 4px solid transparent;
    opacity: 0.75;
  }
  nav li:not(:last-child) a:hover {
    border-left: 4px solid #fff;
    opacity: 1;
  }
  nav li:not(:last-child), nav ul li:not(:last-child){
    border-bottom: 2px solid #202020;
  }
  nav li:last-child a {
    padding: 13px 24px;
    text-align: center;
    border-radius: 0;
    border: none;
    width: 100%;
    background-color: #ED2939;
  }
  nav li:last-of-type {
    margin-top:auto;
  }
  nav :checked ~ ul {
    right: 0;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
  #nav-toggle:checked + .mobile-overlay {
    visibility: visible;
    opacity: 1;
  }
  .signed-in {
    max-height: none;
  }
  #signed-in {
    background-color: var(--secondary-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 28px;
  }
  #signed-in .username {
    display: block;
  }
  .dropdown:hover .dropdown-content {
    display: none;
  }
  .dropdown label:hover {
    cursor: pointer;
  }
  .dropdown-content {
    flex-direction: column;
    width: 70vw;
    height: 100vh;
    top: 0;
    left: 50%;
    margin-left: 0;
  }
  #mobile-back {
    display: block;
  }
  .header nav .dropdown-content a {
    background-color: transparent;
    text-align: left;
  }
  #dropdown-toggle:checked + .dropdown-content {
    display: block;
  }
  #dropdown-toggle:checked + #signed-in {
    background-color: red;
  }
}
@media screen and (max-width: 480px) {
  nav ul {
    width: 100%;
  }
  .dropdown-content {
    width: 100%;
  }
}

/* }}} */

/* {{{ MAIN */

main {
  background-color: black;
  min-height: calc(100vh - 64px);
  width: 100%;
}

/* }}} */

/* {{{ FOOTER */
footer {
  background: #911822;
  width: 100%;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .cell {
  padding-top: 20px;
  padding-bottom: 20px;
}
footer .cell h4 {
  font-family: 'Shin-Go-Pro-B';
}
footer .cell a {
  color: #fff;
}

.footer-bottom {
  box-shadow: 1px -2px 7px 0 rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 1px -2px 7px 0 rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 1px -2px 7px 0 rgba(0, 0, 0, 0.41);
  background-color: #ED2939;
}

.footer-bottom .container {
  height: 64px;
  align-items: center;
}
.footer-bottom .container p {
  font-family: 'Shin-Go-Pro-B';
  justify-content: flex-start;
  flex: 1;
  order: 1;
}
.credit::before {
  content: "Created by ";
}
.footer-bottom .container .logo {
  order: 2;
}
.footer-socials {
  flex: 1;
  order: 3;
  align-items: center;
}
.footer-bottom ul {
  display: flex;
  justify-content: flex-end;
}

.footer-socials .svg-container {
  height: 22px;
  width: 22px;
}

.footer-socials .svg-container path {
  fill: white;
}

.footer-socials li:not(:last-of-type) {
  margin-right: 8px;
}
@media screen and (max-width: 768px) {
  .credit::before {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  footer .container {
    flex-direction: column;
  }
  .credit, .footer-bottom .footer-socials {
    display: none;
  }
}
/* }}} */