/* {{{ MAIN */
.movie-header {
    width: 100%;
    height: 70vh;
    position: relative;
}
.hero-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    z-index: 1;
}
.movie-hero-image {
    position: absolute;
    top: 0;
    left: 0;
    object-position: top;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.movie-main {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.movie-main .container {
    display: flex;
    flex-direction: row;
    width: 1060px;
    margin-bottom: 20px;

}
.poster-container, .movie-info, .book-container {
    align-self: flex-end;
}
.poster {
    max-height: 300px;
    border-radius: 6px;
}
.movie-info {
    padding-left: 20px;
    padding-right: 20px;
}
.title {
    font-size: 2em;
}
.book-container {
    margin-left: auto;
    width: 25%;
}
.button {
    background-color: #ED2939;
    border: none;
    width: 100%;
    height: 60px;
    border-radius: 6px;
}
.movie-body {
    padding: 40px 0;
}
.movie-metadata {
    width: 100%;
}
.movie-metadata:first-of-type {
    margin-bottom: 40px;
}
.movie-metadata:not(:first-of-type) {
    margin-bottom: 12px;
}
.movie-metadata h3 {
    color: #4e4e4e;
    font-size: 0.9em;
}
.movie-starring-list {
    display: flex;
}
.movie-starring-list li:not(:first-child):before {
    content: ",";
    margin-right: 5px;
}
@media screen and (max-width: 768px) {
    .movie-main .container {
        flex-wrap: wrap;
    }
    .poster-container {
        width: 33.33%;
    }
    .poster {
        max-height: unset;
        width: 100%;
    }
    .movie-info {
        width: 66.66%;
    }
    .title {
        font-size: 1.5em;
    }
    .book-container {
        margin-left: 0;
        margin-top: 16px;
        width: 100%;
    }
    .button {
        width: inherit;
    }
}