/* {{{ ADD/EDIT-MOVIE */
.admin-form {
    display: flex;
}
.add-movie-container {
    display: flex;
    flex-direction: column;
    max-width: 696px;
}
#title-column  {
    flex: 4;
}
#premiere-column {
    flex: 1;
}
.input-row > .input-column:not(:first-child) {
    margin-left: 16px;
}
.add-movie-container input[type=text],
.add-movie-container input[type=number]{
    width: 100%;
}
#description {
    height: 200px;
    width: 100%;
}
.input-row:last-of-type {
    justify-content: flex-end;
}
.admin-form-right {
    margin-left: 64px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}
.admin-form-right .input-row {
    flex-direction: column;
}
.poster {
    border: none;
    max-height: 300px;
    max-width: 210px;
    width: auto;
    height: auto;
    border-radius: 6px;
}
#subtitles, #screening {
    flex-direction: column;
}
@media only screen and (max-width: 768px) {
    .btn {
        width: 100%;
    }
    #title-column {
        flex: 2;
    }
}
@media only screen and (max-width: 400px) {
    #title-column {
        flex: 1;
    }
    #metadata-row {
        flex-direction: column;
    }
    #metadata-row .input-column {
        margin-left: 0;
    }
}

/* {{{ ADD ACTOR */
.actor-section {
    margin-bottom: 16px;
}
.actor-section .input-row {
    width: 250px;
}

.new-actor {
    text-align: center;
    text-transform: uppercase;
    background-color: var(--primary-red);
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 6px;
}
.new-actor:hover {
    cursor: pointer;
}
.new-actor:hover {
    background-color: var(--secondary-red);
}
.svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.plus-icon {
    width: 26px;
    height: 26px;
}
.plus-icon path {
    fill: var(--primary-white);
}
/* }}} */
